<div class="panel panel-info">
  <div class="panel-heading">
    <h3>Historical Team Comparison</h3>
  </div>

  <div class="panel-body centered">
    <%= bootstrap_form_tag url: "login", method: "post" do |f| %>
      <div class="row">
        <div class="col-xs-6">
          <%= f.select :season1, [2010, 2011], { label: "Select season" } %>
          <%= f.select :team2, ["Boston Red Sox"], { label: "Select team" } %>
        </div>
        <div class="col-xs-6">
          <%= f.select :season2, [2010, 2011], { label: "Select season" } %>
          <%= f.select :team2, ["Boston Red Sox"], { label: "Select team" } %>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <%= f.form_group :type, label: { text: "Simulation type" } do %>
            <%= f.radio_button :type, 0, label: "Standings" %>
            <%= f.radio_button :type, 1, label: "Playoffs" %>
          <% end %>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <%= f.submit "Compare" %>
        </div>
      </div>
    <% end %>
  </div>
</div>