<!DOCTYPE html>
<html>
<head>
  <title>Baseball</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <a class="navbar-brand" href="<%= home_url %>">BaseballGuru</a>
      </div>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="<%= logout_url %>">Logout</a></li>
      </ul>

    </div><!-- /.container-fluid -->
  </nav>
  
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li>
        <a href="<%= user_management_url %>">User Management</a>
      </li>
      <li>
        <a href="<%= player_impact_url %>">Player Impact Analyser</a>
      </li>
      <li>
        <a href="<%= h2h_score_url %>">H2H Score Prediction</a>
      </li>
      <li>
        <a href="<%= season_sim_url %>">Season Simulation</a>
      </li>
      <li>
        <a href="<%= player_value_url %>">Player Value Analyser</a>
      </li>
      <li>
        <a href="<%= historical_player_url %>">Historical Player Comparison</a>
      </li>
      <li>
        <a href="<%= historical_team_url %>">Historical Team Comparison</a>
      </li>
      <li>
        <a href="<%= manager_evaluation_url %>">Manager Evaluation</a>
      </li>
    </ul>
  </div>

  <div class="container-fluid" id="main-container">
    <%= yield %>
  </div>
</body>
</html>
